{include file="public/header"}
<div class="right_col" role="main">
    <div class="row">
        <form action="">
            <div>
                用户名：<input type="text" placeholder="用户名"/>
                用户名：<input type="text" placeholder="用户名"/>
                用户名：<input type="text" placeholder="用户名"/>
                用户名：<input type="text" placeholder="用户名"/>
                用户名：<input type="text" placeholder="用户名"/>
            </div>
        </form>
    </div>
    <br/>
</div>
{include file="public/footer"}