<!-- 首页尾部 -->
<footer>
    <div class="pull-right">
        李鑫博客后台管理
    </div>
    <div class="clearfix"></div>
</footer>
<!-- /尾部结束 -->
</div>
</div>
<!-- jQuery -->
<script src="__STATIC__/js/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="__STATIC__/js/bootstrap.min.js"></script>
<!-- Custom Theme Scripts -->
<script src="__STATIC__/js/custom.min.js"></script>
<!--准备动态刷新后台页面用的js-->
<!--<script type="text/javascript">-->
    <!--$(function(){-->
       <!--$('#sidebar-menu .menu_section .child_menu li').click(function(){-->
           <!--alert('*****');-->
       <!--});-->
    <!--});-->

<!--</script>-->