{include file="public/header" /}
<div class="totle">
    <div class="layui-carousel" id="test1" lay-filter="test1">
        <div carousel-item="">
            <div><img src="__STATIC__/images/lunbo/1.png"></div>
            <div><img src="__STATIC__/images/lunbo/2.png"></div>
        </div>
    </div>
    <div id="test2">
        <p>毕竟不是作家，写不出那么好的文章。--因为没有丰富阅历和经验！</p>
    </div>
</div>
<div class="totle1" id="remenpaihang">
    <div id="remenleft">
        <fieldset id="fieldset" class="layui-elem-field">
            <legend>热门排行</legend>
            <div class="layui-field-box">
                内容区域
            </div>
            <hr class="layui-bg-red">
            <div class="layui-field-box">
                内容区域
            </div>
            <hr class="layui-bg-orange">
            <div class="layui-field-box">
                内容区域
            </div>
            <hr class="layui-bg-blue">
            <div class="layui-field-box">
                内容区域
            </div>
            <hr class="layui-bg-black">
            <div class="layui-field-box">
                内容区域
            </div>
            <hr class="layui-bg-black">
        </fieldset>

    </div>
    <div id="wenzhanglist">
        <blockquote class="layui-elem-quote" style="margin-top: 10px;">
            <div></div>
        </blockquote>
        <blockquote class="layui-elem-quote" style="margin-top: 10px;">
            <div id=""></div>
        </blockquote>
        <blockquote class="layui-elem-quote" style="margin-top: 10px;">
            <div></div>
        </blockquote>

        <!--<ul class="layui-nav layui-nav-tree layui-inline" lay-filter="demo" style="margin-right: 10px;">-->
        <!--<li class="layui-nav-item"><a href="">默认展开</a></li>-->
        <!--<li class="layui-nav-item"><a href="">解决方案</a></li>-->
        <!--<li class="layui-nav-item"><a href="">云市场</a></li>-->
        <!--<li class="layui-nav-item"><a href="">社区</a></li>-->
        <!--</ul>-->
    </div>
</div>
<div class="totle2">
    <div class="layui-tab" id="rementuijian">
        <ul class="layui-tab-title" id="tuijian">
            <li class="layui-this">网站设置</li>
            <li>用户管理</li>
            <li>权限分配</li>
        </ul>
        <div class="layui-tab-content" id="tuijianwenzhang">
            <div class="layui-tab-item layui-show">
                <li>1</li>
                <li>1</li>
                <li>1</li>
                <li>1</li>
                <li>1</li>
                <li>1</li>
                <li>1</li>
                <li>1</li>
                <li>1</li>
                <li>1</li>
            </div>
            <div class="layui-tab-item">
                <li>2</li>
                <li>2</li>
                <li>2</li>
                <li>2</li>
                <li>2</li>
                <li>2</li>
                <li>2</li>
                <li>2</li>
                <li>2</li>
                <li>2</li>
            </div>
            <div class="layui-tab-item">
                <li>3</li>
                <li>3</li>
                <li>3</li>
                <li>3</li>
                <li>3</li>
                <li>3</li>
                <li>3</li>
                <li>3</li>
                <li>3</li>
                <li>3</li>
            </div>
        </div>
    </div>
</div>
