/*头标题、轮播图和每日一语*/
.totle {
    margin-left: 20%;
    margin-right: 25%;
}
#testone{
background-color: red;
    padding-top: 10px;
    float: right;
    color: black;
    margin-left: 232px;
    padding-right: 9px;
}
/*热门排行和热门推荐下方的区域*/
.totle1{
    margin-left: 20%;
    margin-right: 52%;
}
.totle2{
    margin-left: 55%;
    margin-right: 25%;
}
#test1{
    float: left;
    margin-top: 10px;
}
#test2{
    float: right;
    margin-top: 10px;
    background-image:url("/static/images/Z.jpg");
    background-repeat: no-repeat;
    width: 382px;
    height: 272px;

}
#test2 p{
    margin-top: 100px;
    margin-left: 112px;
    font-size: 16px;
    color: #f7b0b0;
    line-height: 25px;
    position: absolute;
    width: 230px;
    height: 120px;
    font-weight: 500;
    font-family: \\5B8B\4F53;
}
/*回到顶部*/
p#back-to-top{
    position:fixed;
    display:none;
    bottom:100px;
    right:80px;
}
p#back-to-top a{
    text-align:center;
    text-decoration:none;
    color:#1b6d85;
    display:block;
    width:64px;
    /*使用CSS3中的transition属性给跳转链接中的文字添加渐变效果*/
    -moz-transition:color 1s;
    -webkit-transition:color 1s;
    -o-transition:color 1s;
}

#main .row .blog-module .shadow .mm{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13pt;
    font-weight: 300;
    line-height: 1.75em;
    width: 380px;
    height: 330px;
    float: right;
}
















