/*头标题、轮播图和每日一语*/
.totle {
    margin-left: 20%;
    margin-right: 25%;
}
/*热门排行和热门推荐下方的区域*/
.totle1{
    margin-left: 20%;
    margin-right: 52%;
}
.totle2{
    margin-left: 55%;
    margin-right: 25%;
}
#test1{
    float: left;
    margin-top: 10px;
}
#test2{
    float: right;
    margin-top: 10px;
    background-image:url("/static/images/Z.jpg");
    background-repeat: no-repeat;
    width: 382px;
    height: 272px;

}
#test2 p{
    margin-top: 100px;
    margin-left: 130px;
    font-size: 16px;
    color: #f7b0b0;
    line-height: 25px;
    position: absolute;
    width: 230px;
    height: 120px;
    font-weight: 500;
    font-family: \\5B8B\4F53;
}
#remenleft #fieldset{
    height: 310px;
}
#remenpaihang #remenleft{
    margin-top: 20px;
    float: left;
    width: 650px;
    height: 310px;
}
#remenpaihang #remenleft div{
    margin:0;
    border:0;
    padding: 9px;
}
#rementuijian{
    margin-top: 313px;
    width: 380px;
    height: 390px;
    border: 1px solid #e2e2e2;
}
#tuijianwenzhang{
    height: 330px;
}
#tuijian li{
    padding-left: 22px;
    font-size: 20px;
}
#content{
    float: left;
    margin-top: 10px;
    width: 650px;
    height: 500px;
    border: 1px solid #e2e2e2;
}

/*文章列表（网站首页和文章专栏共用）*/
.article {
    padding: 15px;
    margin-bottom: 10px;
    background: #fff;
    border-left: 5px solid #fff;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.article:hover {
    border-left: 5px solid cornflowerblue;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.article > .article-left {
    width: 25%;
    float: left;
}

.article > .article-left > img {
    /* width: 100%; */
    /* height: auto; */
}

.article > .article-right {
    width: 73%;
    float: right;
    padding-left: 3%;
}

.article > .article-right > .article-title a {
    font-size: 14px;
}

.article > .article-right > .article-title a:hover {
    color: cornflowerblue;
}

.article > .article-right > .article-abstract {
    display: none;
}

.article > .article-footer {
    font-size: 11px;
    padding: 2px;
    color: #a6a6a6;
}

.article > .article-footer > span {
    padding-right: 3%;
}

.article > .article-footer a {
    color: cornflowerblue;
}

.article > .article-footer .article-viewinfo,
.article > .article-footer .article-author {
    display: none;
}

.icon-stick {
    border: 1px solid #FF5722;
    color: #FF5722;
    padding: 0 2px 0 0;
    font-family: SimHei;
    display: inline-block;
    margin-right: 3px;
    position: relative;
    top: -1px;
    font-size: 13px;
}

@media (min-width: 768px) {
    .article > .article-right > .article-title a {
        font-size: 17px;
    }

    .article > .article-right > .article-abstract {
        font-size: 14px;
        display: block;
        margin-top: 10px;
        text-indent: 2em;
    }

    .article > .article-footer {
        margin-top: 150px;
        font-size: 13px;
    }

    .article > .article-footer .article-viewinfo {
        display: inline;
        float: right;
    }

    .article > .article-footer .article-author {
        display: inline;
    }

    .icon-stick {
        font-size: 14px;
    }
}

@media (min-width: 992px) {
    .article > .article-right > .article-title a {
        font-size: 18px;
        text-decoration: none;
    }

    .icon-stick {
        font-size: 15px;
    }
}
/*文章列表END*/






















