#aboutme {
    background: #FFF;
    border-radius: 10px;
    overflow: hidden;
    width: 343px;
    height: 600px;
    margin-left: 20px;
    padding-left: 14px;
    font-size: 16px;
    margin-top: 20px;
}

.ab_title {
    text-align: center;
    position: relative;
    margin: 20px;
}

.ab_title:before {
    content: "";
    width: 25%;
    height: 2px;
    background: #000;
    position: absolute;
    left: 0;
    bottom: 8px
}

.ab_title:after {
    content: "";
    width: 25%;
    height: 2px;
    background: #000;
    position: absolute;
    right: 0;
    bottom: 8px
}

.ab_con {
    line-height: 30px;
    padding: 10px;
}

.ab_con p {
    background: #f6f6f6;
    margin: 5px 0;
    padding-left: 10px;
    border-radius: 5px;
    text-shadow: rgba(255, 255, 255, 0.3) 0px 1px 0px;
}

.avatar img {
    width: 100px;
    height: 100px
}
#mess ul{
    margin-bottom: 20px;
    line-height: 23px;
}
.li{
    margin-bottom: 5px;
}
#div1{
    width: 730px;
    height: 650px;
    float: left;
}
/*留言板设置*/
h{
    float: right;
    font-size: 20px;
    margin-top: 18px;
}
/*查看更多*/
#div2{
    background-color: #e3e3e3;
    height: 26px;
    text-align: center;
    line-height: normal;
}