{include file="public/header"}
<h1 class="totle h1" style="padding: 35px">感谢各位的支持！！!</h1>
    <div class="row totle" style="width: 900px;margin-left: 440px;">
        <div class="col-md-6" style="width: 400px;height: 100%;text-align: center">
            <img src="__STATIC__/images/pay/ZhiFuBao.png" alt="支付宝">
            <p class="h3" style="text-align: center">支付宝</p>
        </div>
        <div class="col-md-6" style="width: 400px;height: 100%;margin-left: 11%">
            <img src="__STATIC__/images/pay/WeiXin.png" alt="微信">
            <p class="h3" style="text-align: center">微信</p>
        </div>
    </div>