{include file="public/header"}
<div class="totle">
    <div class="row">
        <div class="col-xl-6" style="width: 730px;height: 650px;float: left">
            <textarea rows="15" style="margin-top: 20px;width: 100%" placeholder="欢迎讨论..."></textarea>
            <br/><br/>
            <button type="button" class="btn btn-info">点击留言</button>
        </div>
        <div id="aboutme" class="col-xl-6 well well-lg site-doc-icon">
            <h2 class="ab_title">精选留言</h2>
            <div class="ab_con">
                <p>你好世界</p>
                <p>你好世界</p>
                <p>你好世界</p>
                <p>你好世界</p>
                <p>你好世界</p>
            </div>
        </div>
    </div>
</div>
<style>
    #aboutme {
        background: #FFF;
        border-radius: 10px;
        overflow: hidden;
        width: 343px;
        height: 600px;
        margin-left: 20px;
        padding-left: 14px;
        font-size: 16px;
        margin-top: 20px;
    }

    .ab_title {
        text-align: center;
        position: relative;
        margin: 20px;
    }

    .ab_title:before {
        content: "";
        width: 25%;
        height: 2px;
        background: #000;
        position: absolute;
        left: 0;
        bottom: 8px
    }

    .ab_title:after {
        content: "";
        width: 25%;
        height: 2px;
        background: #000;
        position: absolute;
        right: 0;
        bottom: 8px
    }

    .ab_con {
        line-height: 30px;
        padding: 10px;
    }

    .ab_con p {
        background: #f6f6f6;
        margin: 5px 0;
        padding-left: 10px;
        border-radius: 5px;
        text-shadow: rgba(255, 255, 255, 0.3) 0px 1px 0px;
    }

    .avatar img {
        width: 100px;
        height: 100px
    }
</style>